@model IEnumerable<CadastroLogin.Models.Cursos>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/global.css">
    <link rel="stylesheet" href="~/css/course.css">
    <link rel="icon" type="image/png" sizes="16x16" href="~/image/favicon.png">
    <title>Cursos online</title>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">

</head>

<body>
    <header>

        <!--------------------------BANNER-SECTION---------------------------->

        <section id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="promo-title" style="color: #FFF;">Lista Geral</p>
                        <p style="color: #FFF;">
                            Breve descrição sobre nossos serviços, sobre o que fazemos, cursos e etc, não sei mais o que escrever e só estou escrevendo pra encher linguiça
                            , porque estou com preguiça de ir pegar no Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </header>


    <!--------------------------COURSES-SECTION---------------------------->
    <h2 class="text-center">Lista de<span class="color-purple"> Cursos</span></h2>
    <br />
    <div class="card-deck" style="width:100%">
        @foreach (var item in Model)
        {
            <div class="card" style="display:flex;flex-wrap:wrap; flex-direction:row">
                <a href="@Url.Action("Detalhes", "Cursos", new { id=item.Id_Curso })" title="List View" class="links">
                    <img alt="List View" src="@Url.Content("~/image/grafico.png")">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Desc_cur)</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Atualizados 3 minutos atrás</small>
                    </div>
            </div>
        }
    </div>
    <br />
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <div style="background-color: #6351ce;">
            <div class="container">


                <div class="row py-4 d-flex align-items-center">


                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Conecte-se conosco nas redes sociais!</h6>
                    </div>

                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>

                </div>


            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">


            <div class="row mt-3">


                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


                    <h6 class="text-uppercase font-weight-bold">DevKey</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Cursos on-line totalmente gratuitos para você se tornar um programador de sucesso. A chave para o desenvolvimento se encontra aqui!
                    </p>

                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Produtos</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Cursos online
                    </p>
                    <p>
                        Acesso ilimitado
                    </p>
                    <p>
                        Certificado
                    </p>
                    <p>
                        Chat para tirar dúvidas
                    </p>

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Links Úteis</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="~/Home/Index">Início</a>
                    </p>
                    <p>
                        <a href="~/Home/Sobre">Sobre</a>
                    </p>
                    <p>
                        <a href="~/Authentication/Login">Login</a>
                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contato</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i>R.Guaipá, 678 - Vila Leopoldina
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>developmentinfo@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +55 11 3699-2270
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i>+55 11 3699-2270
                    </p>

                </div>


            </div>


        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p>© 2019 Copyright:DevKey - Todos os direitos reservados</p>

        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/global.js"></script>
</body>
</html>
