.dragHelper{
	display: block;
	padding: 30px;
	margin-top: 10px;
	background: #fff;
	border: 2px dashed #c2cdda;
	border-radius: 3px;
	text-align: center;
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}	

.item{
	margin-top: 10px;
	padding: 10px;
	cursor: move;
}

#sortable1, #sortable2, #sortable3 {
	border: 1px solid #eee;
	width: 30%;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

#sortable1 li, #sortable2 li, #sortable3 li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 95%;
	word-wrap: break-word;

}